<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GouMee.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F576E02F9A48D64A47258361C6240C9BFFFB1B39</string>
				<key>dateExpires</key>
				<string>2021/2/27</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F576E02F9A48D64A47258361C6240C9BFFFB1B39</string>
						<key>dateExpires</key>
						<string>2021/2/27</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGU2TF5WC8</string>
						<key>name</key>
						<string>Jiaxing Qiluo Network Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F576E02F9A48D64A47258361C6240C9BFFFB1B39</string>
						<key>dateExpires</key>
						<string>2021/2/27</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGU2TF5WC8</string>
						<key>name</key>
						<string>Jiaxing Qiluo Network Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F576E02F9A48D64A47258361C6240C9BFFFB1B39</string>
						<key>dateExpires</key>
						<string>2021/2/27</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGU2TF5WC8</string>
						<key>name</key>
						<string>Jiaxing Qiluo Network Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F576E02F9A48D64A47258361C6240C9BFFFB1B39</string>
						<key>dateExpires</key>
						<string>2021/2/27</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGU2TF5WC8</string>
						<key>name</key>
						<string>Jiaxing Qiluo Network Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F576E02F9A48D64A47258361C6240C9BFFFB1B39</string>
						<key>dateExpires</key>
						<string>2021/2/27</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>KVOController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGU2TF5WC8</string>
						<key>name</key>
						<string>Jiaxing Qiluo Network Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F576E02F9A48D64A47258361C6240C9BFFFB1B39</string>
						<key>dateExpires</key>
						<string>2021/2/27</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGU2TF5WC8</string>
						<key>name</key>
						<string>Jiaxing Qiluo Network Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F576E02F9A48D64A47258361C6240C9BFFFB1B39</string>
						<key>dateExpires</key>
						<string>2021/2/27</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGU2TF5WC8</string>
						<key>name</key>
						<string>Jiaxing Qiluo Network Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F576E02F9A48D64A47258361C6240C9BFFFB1B39</string>
						<key>dateExpires</key>
						<string>2021/2/27</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGU2TF5WC8</string>
						<key>name</key>
						<string>Jiaxing Qiluo Network Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F576E02F9A48D64A47258361C6240C9BFFFB1B39</string>
						<key>dateExpires</key>
						<string>2021/2/27</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGU2TF5WC8</string>
						<key>name</key>
						<string>Jiaxing Qiluo Network Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F576E02F9A48D64A47258361C6240C9BFFFB1B39</string>
						<key>dateExpires</key>
						<string>2021/2/27</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGU2TF5WC8</string>
						<key>name</key>
						<string>Jiaxing Qiluo Network Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F576E02F9A48D64A47258361C6240C9BFFFB1B39</string>
						<key>dateExpires</key>
						<string>2021/2/27</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YYKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGU2TF5WC8</string>
						<key>name</key>
						<string>Jiaxing Qiluo Network Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F576E02F9A48D64A47258361C6240C9BFFFB1B39</string>
						<key>dateExpires</key>
						<string>2021/2/27</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YYModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGU2TF5WC8</string>
						<key>name</key>
						<string>Jiaxing Qiluo Network Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XGU2TF5WC8.com.kuran.app</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XGU2TF5WC8</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>库然.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>94d6a053-ce99-4b2a-86bb-19413572f69f</string>
				<key>name</key>
				<string>kuran</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XGU2TF5WC8</string>
				<key>name</key>
				<string>Jiaxing Qiluo Network Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
